<div class="top-row-artist">
<div class="col-md-5 col-xs-12 image-teaser-artist"><img class="img img-responsive" src="images/prog/dubinc.jpg" alt="" width="570" height="380" /></div>
<div class="col-md-7 col-xs-12 right-block-artist">
<h2>DUB INC</h2>
<h3>VENDREDI 29 JUILLET</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt metus at ante malesuada, a molestie neque placerat. Praesent ullamcorper neque nec tortor dignissim, ac lacinia augue efficitur. Nam sapien libero, porta ac iaculis a, imperdiet nec ex. Cras at mollis lorem. Morbi condimentum ornare sapien, vel consequat ex elementum a. Morbi auctor dolor in arcu aliquet, in ornare libero commodo. Integer ex justo, volutpat eu tristique ultrices, ultricies ut tellus.</p>
</div>
<div style="clear: btoh;"> </div>
</div>
<div class="bottom-row-artist">
<div class="col-md-5 col-xs-12 more-info-artist">
<h3>Plus d'infos</h3>
</div>
<div class="col-md-7 col-xs-12 youtube-artist">
<h3>Vidéo</h3>
{youtube}JjwQudZdL1s{/youtube}</div>
<div style="clear: btoh;"> </div>
</div>